@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


*{
  margin: 0;
  padding: 0;
}
body{
  font-family: "Azeret Mono", monospace;
}


.first{
  color: #ff7400;
  font-size: 25px;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 166px 40px 150px ;
}
nav > button{
  padding: 17px 24px 17px 24px;
  box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
border-radius: 8px;
opacity: 0.8;
font-size: 20px;
font-weight: 600;
color: rgb(13, 19, 33);

}

/* header area style */

.header-container{
 max-width: 1440px;
height: 652px;
margin: 0 auto;
border: 3px dotted gainsboro;
border-left: none;
border-right: none;
background-image: url(../images/Hero-bg.png);
/* margin-top: 131px; */
background-size: cover;
background-position: center;

}

.herader-content{
  width: 958px;
  height: 582px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.header-title{
  color: rgb(13, 19, 33);
font-size: 30px;
font-weight: 800;
line-height: 50px;
text-align: center;
margin-top: 32px;
margin-bottom: 24px;
}
.header-description{
  color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
line-height: 20px;
text-align: center;

}

.parent-btn-primary{
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  bottom: 44px;
}
  .btn-primary a{
 text-decoration: none;
color: rgb(255, 255, 255);
font-size: 20px;
font-weight: 600;
text-align: center;

  }
 .btn-primary {
border-radius: 8px;
background: rgb(13, 19, 33);
padding: 21px 24px 21px 24px;
position: absolute;

}


/* developer-section style */

.developer-section{
  max-width: 1140px;
  height: 1295px;
  margin: 0 auto;
  margin-top: 74px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
}

.developer-section-container h1{
  color: rgb(13, 19, 33);
font-size: 32px;
font-weight: 800;
line-height: 37px;
text-align: center;
margin-top: 80px;
margin-bottom: 20px;
}
.developer-section-container p{
  color: rgb(13, 19, 33);
  height: 52px;
  max-width: 852px;
  margin: 0 auto;
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: center;
}

.dveloper-contentainer{
  
  border-radius: 16px;
  background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
  max-width: 946px;
 height: 336px;
 margin: 0 auto;
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 40px;
 
}
.developer-content{
  max-width: 850px;
  height: 240px;
  display: flex; 
  justify-content: space-between; 
  gap: 70px; 
}
.developer-content1{
  max-width: 477px;
  height: 220px;

}

.developer-content1-title{
  color: rgba(13, 19, 33, 0.7);
font-size: 25px;
font-weight: 700;
line-height: 36px;
margin-bottom: 15px;
}
.developer-content1-description {
  color: rgb(13, 19, 33);
font-size: 30px;
font-weight: 400;
line-height: 25px;

}
.btn-developer-content1{
  padding: 12px 20px 12px 20px;
  color: rgb(13, 19, 33);
font-size: 20px;
font-weight: 600;

margin-top: 30px;


}
/* web system part design */

.websystem-container{
 
  width: 946px;
  height: 336px;
  margin: 0 auto; 
  border-radius: 16px;
  background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
  display: flex;
  align-items: center;
  margin-top: 32px;
  
}
.websystem-parent{
 
  margin: 0 auto;
  width: 850px;
  height: 240px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}
.websystem-pic{
 
  width: 240px;
  height: 240px;
}
.websystem-content{
  
  width: 477px;
  height: 220px;
  margin-left: 30px;
}
.websystem-content-title{
color: rgba(13, 19, 33, 0.7);
font-size: 24px;
font-weight: 700;
line-height: 30px;
text-align: left;
width: 477px;
height: 72px;
}
.websystem-content-dscription{
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
opacity: 0.7;
margin-bottom: 30px;
}
 .websystem-content .btn-websystem{
  margin-right: 400px;
  width: 171px;
  height: 47px;
  font-size: 20px;
  color:rgb(13, 19, 33);
  
}

/* world section design  */

.world-container{
  
  width: 946px;
  height: 336px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.world-content{
 
 width: 850px;
  height: 240px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}
.world-content1{
  
  width: 477px;
  height: 220px;
  

}
.world-content-pic{
  
  width: 240px;
  height: 240px;
}

.world-content-title{
  color: rgba(13, 19, 33, 0.7);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 15px;
 
}
.world-content-description{
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 15px;


}

.world-content button{
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  padding: 12px 20px 12px 20px;
}

.single-title-description{
  width: 852px;
  height: 52px;
  margin: 0 auto;
}



/* iframe section style*/


.iframe-container{
  border: 1px solid gray;
  border-radius: 15px;
  width: 1140px;
  height: 614px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;

}
.iframe-content iframe{
  
  width: 1076px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}

.current-parant{

  margin: 0 auto;
  width: 852px;
  height: 113px;
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
 flex-direction: column;
}

/* skills section style start*/

.skills-container{
  
  max-width: 1140px;
  height: 300px;
  margin: 0 auto;
  margin-top: 50px;
 
}
.skill-content{
  display: flex;
  justify-content: space-around;
}

.skills{
 
  width: 364px;
height: 299px;
display: flex;
justify-content: center;
align-items: center;
}

.skills-bg{ 
  width: 284px;
 height: 219px;

}

.skills-title{
  color: rgb(13, 19, 33);
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  margin-top: 25px;
  margin-bottom: 10px;


}

.skills-description{
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
  margin-bottom: 22px;


}

.skills a{
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 700;
}

.bg-html{
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
}

.bg-css{
  border-radius: 16px;
  background: rgba(0, 76, 232, 0.05);
}
.bg-java{
  border-radius: 16px;
  background: rgba(255, 223, 0, 0.05);
}

/* support section style  start*/

.support-containar{
 background-color: rgba(0, 0, 0, 0.5);
  background-image:url(../images/handshake.jpg);
  background-position: center;
  background-size: cover;

  max-width: 1140px;
  height: 313px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 15px; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-blend-mode: o;
}


.support-content h2 p{
  border: 1px solid red;
  max-width: 1044px;
  height: 185px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 

}

.support-title{
  color: rgb(255, 255, 255);

font-size: 32px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: center;
}
.support-description{
  color: rgb(255, 255, 255);

font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
}

/* .footer input[type="text"] */

.support-content input[type="text"]{
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  margin-top: 25px;
  width: 80%;
  background: rgb(255, 255, 255);
  padding: 20px 30px;
  font-family: 24px;
  color: rgba(13, 19, 33, 0.4);
  
}
.support-content input[type="submit"]{
  color: rgb(13, 19, 33);
font-size: 20px;
font-weight: 600;
text-align: center;
padding: 17px 20px 17px 20px;
border-radius: 10px;
border: none;

}

/* footer section style*/

.footer-container{
max-width: 1440px;
height:  100px;
display: flex;
align-items: center;
justify-content: space-between;
margin: 50px 70px;
}


